<h4><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person"
  viewBox="0 0 21 21">
  <path
    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
</svg>Edição de contato</h4>


<!-- <td>{{personphone.phoneNumberTypeID}}</td>
<td>{{personphone.personName}}</td>
<td>{{personphone.phoneNumber}}</td>
<td>{{personphone.phoneNumberTypeName}}</td> -->

<section>
  <form [formGroup]="FormPersonPhone">
    <div class="row">
      <div class="col-sm-2 col-lg-2">
        <label for="fname">Name <i class="required">*</i></label>
      </div>
      <div class="col-sm-10 col-lg-10">
        <input type="text" formControlName="personName" placeholder="Type the name.." />
      </div>
      <div *ngIf="FormPersonPhone.controls['personName'].invalid && (FormPersonPhone.controls['personName'].dirty ||
      FormPersonPhone.controls['personName'].touched)" class="col-sm-12 col-lg-12 alert alert-danger">
        <div *ngIf="FormPersonPhone.controls['personName'].errors.required">
          The field 'Name' is mandatory.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-lg-2">
        <label for="fphone">Phone <i class="required">*</i></label>
      </div>
      <div class="col-sm-10 col-lg-10">
        <input type="text" formControlName="phoneNumber" placeholder="Type a phone number.." />
      </div>
      <div *ngIf="FormPersonPhone.controls['phoneNumber'].invalid && (FormPersonPhone.controls['phoneNumber'].dirty ||
           FormPersonPhone.controls['phoneNumber'].touched)" class="col-sm-12 col-lg-12 alert alert-danger">
        <div *ngIf="FormPersonPhone.controls['phoneNumber'].errors.required">
          The field 'Phone' is mandatory.
        </div>
      </div>
    </div>


    <!-- TODO: it should be loading from back-end-->
    <div class="row">
      <div class="col-sm-2 col-lg-2">
        <label for="fphone">Phone Type<i class="required">*</i></label>
      </div>
      <div class="col-sm-5 col-lg-5">
        <select class="form-control" formControlName="phoneNumberTypeID" [(ngModel)]="FormPersonPhone.controls.phoneNumberTypeID">
          <option value="">Choose an option</option>
          <option value="1">Local phone</option>
          <option value="2">Cellphone</option>
        </select>
      </div>
    </div>



  </form>
</section>
